body {
  height: 100vh;
  background: url("../assets/images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: white;
}


/* Header */

header.first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #DFDFDF solid;
}

header.first>button {
  width: 40px;
  height: 40px;
  border-right: 1px solid #DFDFDF;
}

header.first .header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header.second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px #DFDFDF solid;
  height: 55px;
  padding-top: 5px;
  justify-content: center;
}

header.second>.info {
  display: flex;
  padding: 4px 0 0 10px;
  font-size: 16pt;
}

header.second>.info i::before {
  color: gray;
}

.group {
  display: flex;
  align-items: center;
}

.search-container {
  width: 450px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}

input.search {
  width: 100%;
  height: 30px;
  background: #fff;
  border: 1px solid #DFDFDF;
  font-size: 10pt;
  color: #63717f;
  padding-left: 35px;
  border-radius: 20px;
}

.search-container>.icon {
  position: absolute;
  margin-left: 9px;
  top: 30%;
  z-index: 1;
  height: 20px;
  width: 20px;
}

.search-container>.icon>i::before {
  color: #DFDFDF;
}

input.search::-webkit-input-placeholder {
  color: #DFDFDF;
}

input.search::-webkit-search-cancel-button {
  margin-right: 10px;
}

.header-wrapper .item {
  padding: 0 15px 0 15px;
}

.item button {
  padding-top: 5px;
}

.item button i.icon-plus::before {
  font-size: 20pt;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgb(253, 105, 121)), color-stop(50%, rgb(252, 131, 106)), color-stop(60%, rgb(251, 148, 80)), color-stop(100%, rgb(250, 162, 29)));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: initial;
}

.item button i.icon-plus:hover::before {
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(253, 105, 121, 0.75)), color-stop(50%, rgba(252, 131, 106, 0.75)), color-stop(60%, rgba(251, 148, 80, 0.75)), color-stop(100%, rgba(250, 162, 29, 0.75)));
  display: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item.secondary a {
  color: gray;
  font-size: 12px;
  text-decoration: none;
}

header.first i.icon-menu::before {
  font-size: 20px;
}

.avatar {
  width: 28px;
  height: 28px;
  border-radius: 50px;
  background: url("../assets/images/avatar.jpeg") no-repeat center;
  border: 1px solid #DFDFDF;
  background-size: contain;
  cursor: pointer;
}

.avatar.secondary {
  width: 28px;
  height: 28px;
}

.avatar:active {
  opacity: 0.5;
}

.main {
  width: 100%;
  min-height: calc(100% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.top-round {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.hidden {
  display: none;
}


/* tasks */

.main .tasks {
  background-color: white;
  width: 55%;
  margin: 20px 10px 0 20px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.main .tasks header {
  display: flex;
  flex-direction: row;
  padding: 8px 5px 8px 30px;
  justify-content: space-between;
}

.main .tasks header>button i::before,
.main .details header .group button i::before {
  color: gray;
  font-size: 16px;
}

.main .tasks .content {
  box-shadow: inset 0px 1px 2px 0px #DFDFDF;
  height: calc(100% - 46px);
  background-color: white;
}

.content>ul {
  list-style-type: none;
}

.content>ul>li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 0 7px 0;
  border-top: 1px #DFDFDF solid;
  margin: 0 30px 0 30px;
  position: relative;
}

.content>ul>li:first-of-type {
  border: none;
}

.content>ul>li:last-of-type {
  border-bottom: 1px #DFDFDF solid;
}

.content>ul>li:first-of-type:hover {
  padding: 7px 30px 7px 30px;
  border-top: none;
}

.content>ul>li:hover+li {
  border-top: none;
}

.content>ul>li:hover {
  margin: 0;
  padding: 7px 30px 7px 30px;
  border-bottom: 1px rgb(237, 248, 255) solid;
  border-top: 1px rgb(237, 248, 255) solid;
  background-color: rgb(237, 248, 255);
}

.content>ul>li i.check::before {
  color: #DFDFDF;
  font-size: 20pt;
  padding-right: 10px;
}

.content>ul>li i.circle::before {
  display: none;
}

.content>ul>li:hover i.circle::before {
  display: inline-block;
  color: #DFDFDF;
  font-size: 10pt;
}

.content>ul>li:hover>i:last-child {
  position: absolute;
  right: 30px;
}


/* details */

.main .details {
  margin: 20px 20px 0 10px;
  width: 45%;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  overflow: auto;
}

.main .details header {
  display: flex;
  flex-direction: row;
  padding: 8px 5px 8px 30px;
  justify-content: space-between;
  position: relative;
}

.main .details header .group i.circle {
  margin-top: 5px;
}

.main .details header .group i.circle:before {
  color: #DFDFDF;
}

.main .details header .group .item {
  color: #DFDFDF;
  font-size: 12pt;
  padding: 0 10px 0 10px;
}

.main .details header .group .item.date {
  color: #DFDFDF;
  font-size: 10pt;
  padding: 0 10px 0 0;
}

.main .details header .group.icons {
  padding-right: 90px;
}

.group .rounded {
  width: 25px;
  height: 25px;
  position: relative;
  border: 1px gray solid;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 10px;
}

.group .rounded:hover {
  background-color: #DFDFDF;
}

.group .rounded.dotted {
  border: 1px gray dashed;
  border-radius: 50px;
}

.group .rounded i {
  position: absolute;
  top: 5px;
  padding-left: 3px;
}

.group .rounded i::before {
  color: gray;
  font-size: 14pt;
}

.main .details .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0px 1px 2px 0px #DFDFDF;
  height: calc(100% - 46px);
  background-color: white;
}

.main .details .content footer {
  background-color: rgb(246, 248, 249);
  border-top: 1px solid #DFDFDF;
  height: 110px;
  padding: 10px 25px 10px 25px;
  display: flex;
  justify-content: space-between;
}

.details textarea {
  padding: 10px 0px 0px 10px;
  font-size: 10pt;
  resize: none;
  margin-left: 30px;
  width: 88%;
}

.details textarea::-webkit-input-placeholder {
  padding: 2px 5px 0 0;
  color: #8B8B8B;
  font-size: 10pt;
}

.main .details .content .content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 50px 10px 10px 55px;
}

.content-wrapper>div {
  display: flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

.content-wrapper>div > input {
  border: none;
  font-size: 16pt;
  font-weight: 500;
  width: 100%;
  padding: 1px 1px 1px 38px;
  height: 35px;
}

.content-wrapper>div > i {
  position: absolute;
  padding-top: 5px;  
}

.content-wrapper>div > input::-webkit-input-placeholder {
  color: #8B8B8B;
}

.content-wrapper>div>input:hover, .content-wrapper>div> input:focus {
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  padding: 0 0 0 37px;

}

.content-wrapper>div>span {
  padding-bottom: 5px;
  font-size: 16pt;
}

.content-wrapper i.check::before {
  color: #DFDFDF;
  font-size: 22pt;
  padding-right: 10px;
}

.main .details .content textarea {
  border: none;
  border-radius: 3px;
  height: 45px;
  margin-top: 15px;
}

.main .details .content .content-wrapper textarea:hover {
  border: 1px solid #DFDFDF;
  padding: 9px 0px 0px 9px;
}

.main .details .content .content-wrapper textarea:focus {
  border: 1px solid #DFDFDF;
  padding: 9px 0px 0px 9px;
}

.main .details .content footer textarea {
  border: 1px solid #DFDFDF;
  border-radius: 3px;
  width: 88%;
  height: 80px;
}


/* buttons */

textarea:focus,
button:focus,
input:focus {
  outline: 0;
}

button.icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button.icon:active>i::before {
  opacity: 0.5;
}

button.outline {
  border: 1px solid rgb(48, 173, 242);
  border-radius: 3px;
  color: rgb(48, 173, 242);
  background-color: white;
  padding: 6px 10px;
  font-weight: 500;
  cursor: pointer;
  height: 30px;
}

button.outline:hover {
  background-color: rgb(237, 248, 255);
}

button.outline:active {
  background-color: rgb(196, 215, 226);
}


/* animations */

.details.show {
  display: block;
}

.details.hidden {
  display: none;
}

/* drag and drop */

.task-list > li {
  user-select: none;
}

li.over {
  margin: 0;
  padding: 7px 30px 7px 30px;
  border-bottom: 1px rgb(237, 248, 255) solid;
  border-top: 1px rgb(237, 248, 255) solid;
  background-color: rgba(255, 126, 0, 0.33);
}
